* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ebeef5;
}

@import "./dashboard";
@import "./header";
@import "./editor";
@import "./sidebar";
@import "login";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
